@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --bg-main: #f4f4f4;
  --bg-secondary: #fff;
  --text-main: #000;
  --text-secondary: #333;
  --bg-button: #596d48;
  --border-main: #e5e7eb;
  --error-color: red;
  --valid-color: green;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@font-face {
  font-family: "Norse-Bold";

  src: url(../fonts/Norse-Bold.otf);
}
body {
  background-color: var(--bg-main);
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  display: flex;
}
/* section-left */
#section-left {
  background: url(../images/image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23vh;
}

.logo {
  width: 20%;
  height: 100%;
}
.logo-text {
  font-family: "Norse-Bold";
  font-size: 90px;
  color: var(--bg-main);
}
.section-left-footer {
  margin-bottom: 1vh;
}

#section-left h6,
a {
  font-weight: lighter;
  font-size: 0.8rem;
  color: var(--border-main);
}

/* section-right */
#section-right {
  width: 70%;
  height: 100vh;
}
.container-1 {
  background-color: var(--bg-main);
  margin-right: 10vw;
  margin-left: 3vw;
}

.container-1 .p-class {
  margin-top: 17vh;
  margin-bottom: 5vh;
  font-size: 1.5rem;
  line-height: 1.3;
}
.container-1 .p-head {
  font-weight: 600;
}
.container-1 .p-head-sm {
  font-weight: 600;
  padding-top: 1vh;
}

.container-2 {
  background-color: var(--bg-secondary);
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  padding-right: auto;
  padding-left: 3vw;
  padding-top: 3vh;
  padding-bottom: 1vh;
}
.form {
  color: #444;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.form h3 {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 2vh;
}
.grid-class {
  display: flex;
}

.container-3 {
  background-color: var(--bg-main);
  margin-right: 10vw;
  margin-left: 3vw;
  margin-top: 40px;
}

.btn {
  background-color: var(--bg-button);
  color: #fff;
  text-align: center;
  border: none;
  height: 50px;
  width: 200px;
  display: inline-block;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
}
.container-3 h5 {
  font-size: 1rem;
  font-weight: lighter;
}
.container-3 a {
  font-size: 1rem;
  font-weight: bold;
  color: #596d48;
  text-decoration: none;
}

.col-1 {
  margin-right: 100px;
}
input {
  display: block;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}
input::placeholder {
  padding-left: 5px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.4);
  color: white;
}
input:not(:focus) {
  border: 1px solid var(--border-main);
}

input[type="password"]:required:invalid {
  border-color: red;
}
input:focus {
  outline: none !important;
  border-color: blue !important;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(197, 197, 197, 1);
  -moz-box-shadow: 0px 2px 5px 2px rgba(197, 197, 197, 1);
  box-shadow: 0px 2px 5px 2px rgba(197, 197, 197, 1);
}

#errorMessage {
  color: red;
  text-transform: none;
  font-weight: lighter;
}

/* media query */

@media screen and (max-width: 1250px) {
  .logo {
    width: auto;
    height: 80%;
  }
  .logo-text {
    font-size: 70px;
  }
}
@media screen and (max-width: 950px) {
  .grid-class {
    flex-direction: column;
  }
  .container-1 {
    margin-right: 10vw;
    margin-left: 3vw;
  }

  .container-1 .p-class {
    margin-top: 7vh;
    margin-bottom: 5vh;
    font-size: 1.1rem;
    line-height: 1.1;
  }
  .container-3 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 650px) {
  * {
    overflow: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  #section-left {
    width: 100%;
  }
  #section-right {
    width: 100%;
  }

  .container-1 .p-class {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 1rem;
    line-height: 1;
  }
  .container-1 .p-head {
    font-weight: 500;
    overflow: hidden;
  }
  .container-1 .p-head-sm {
    font-weight: 500;
    padding-top: 1vh;
    overflow: hidden;
  }
  .container-3 h5 {
    margin-bottom: 0;
  }
  .container-3 a {
    margin-bottom: 0;
  }
}
